<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br />
<div class="container">
  <form class="form-inline">
    <div class="form-group mb-2">
      <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  
        required maxlength="11" class="form-control" name="number1" id="number1" placeholder="Angka pertama" [(ngModel)]="calculated.number1"
        pattern="[0-9]+([\.,][0-9]+)?" onkeydown="return event.keyCode !== 69" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <select class="form-control" name="operator" id="operator" [(ngModel)]="calculated.operator">
        <option value="OP_ADD">+</option>
        <option value="OP_SUB">-</option>
        <option value="OP_MUL">X</option>
        <option value="OP_DIV">/</option>
      </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        required maxlength="11" class="form-control" name="number1" id="number2" placeholder="Angka kedua" [(ngModel)]="calculated.number2"
        pattern="[0-9]+([\.,][0-9]+)?" onkeydown="return event.keyCode !== 69" />
    </div>
    <button type="submit" class="btn btn-primary mb-2" (click)="getResult()">=</button>
    <div class="form-group mx-sm-3 mb-2">
      <span>{{ calculated.result }}</span>
      <span style="background-color: red" *ngIf="error">{{ errorMessage }}</span>
    </div>
  </form>
</div>

